<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="altorumleren.com.project1">
FirebaseDynamicLinks.getInstance()

	<!--
	io.flutter.app.FlutterApplication is an android.app.Application that
	calls FlutterMain.startInitialization(this); in its onCreate method.
	In most cases you can leave this as-is, but you if you want to provide
	additional functionality it is fine to subclass or reimplement
	FlutterApplication and put your custom class here.
	-->
	<application android:name="io.flutter.app.FlutterApplication" android:label="project1" android:icon="@mipmap/ic_launcher">
		<activity android:name=".MainActivity" android:launchMode="singleTop" android:theme="@style/LaunchTheme" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize">
			<!--
			This keeps the window background of the activity showing
			until Flutter renders its first frame. It can be removed if
			there is no splash screen (such as the default splash screen
			defined in @style/LaunchTheme).
			-->
			android:name="com.example.android.GizmosActivity"
			android:label="@string/title_gizmos" >
			
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
				<data android:scheme="http" android:host="www.example.com" android:pathPrefix="/gizmos" />
				<!-- note that the leading "/" is required for pathPrefix -->
			</intent-filter>
			<intent-filter android:label="@string/filter_view_example_gizmos">
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<!-- Accepts URIs that begin with "example://gizmos” -->
				<data android:scheme="example" android:host="gizmos" />
			</intent-filter>
		</activity>
	</application>
</manifest>
